// Import page-specific CSS files here.
@import "home";

.banner {
  background-size: cover;
  background-position: center;
  // padding: 240px 0;
  height: 57vh;
  background-color: #FDED19;
}

#spiderman {
  width: 400px;
  margin-left: -137px;
  animation: topToBottom 2.5s ease-in-out 2.5 alternate;
  transform: translateY(-150px);
}

@keyframes topToBottom {
  from {
    transform: translateY(-300px)
  }

  to {
    transform: translateY(0)
  }
}

.banner-text {
  padding-left: 154px;
  height: fit-content;
  padding: 70px 42px;
  align-self: center;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: 'Lexend', sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.search {
  padding-bottom: 20px;
}

.card-overview small {
  color: var(--sl-color-neutral-500);
}

.card-overview [slot='footer'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-link {
  color: inherit;
  background-color: yellow;
  &:hover{
    color: lightgrey;
  }
}

.my-character {
  color: White;
  &:hover{
    color: yellow;
  }
}
.host-link{
  background-color: yellow;
}
